{% extends '_base.html' %}

{% block title %}Movie {{ movie.title }} Detail{% endblock %}

{% block content %}
<div class="Page1 w-[1440px] h-[3684px] relative bg-neutral-950">
    <div class="relative w-[1440px] h-[722px]">
        <img class="absolute inset-0 w-full h-full object-cover" src="https://gtwallpaper.org/sites/default/files/wallpaper/206008/2018-black-panther-art-wallpapers-206008-1226987-1094488.png" alt="Black Panther Art">
        <div class="overlay absolute inset-0"></div>
    </div>
    <style>
        .overlay {
            background: linear-gradient(to top, rgba(0,0,0) 0%, transparent 100%);
        }
        </style>
            
    <div class="Home left-[962px] top-[3015px] absolute text-white text-xl font-normal font-['Julius Sans One']">HOME</div>
    <div class="About left-[1079px] top-[3015px] absolute text-white text-xl font-normal font-['Julius Sans One']">ABOUT</div>
    <div class="Contact left-[1204px] top-[3015px] absolute text-white text-xl font-normal font-['Julius Sans One']">CONTACT</div>
    <div class=" left-[891px] top-[742px] absolute text-white text-[15px] font-normal font-['Julius Sans One']">2018</div>
    <div class="H15m left-[934px] top-[742px] absolute text-white text-[15px] font-normal font-['Julius Sans One']">2h 15m</div>
    <div class=" left-[87px] top-[242px] absolute text-white text-5xl font-normal font-['Julius Sans One']">.</div>
    <div class=" w-[347px] h-[57px] left-[95px] top-[1552px] absolute text-red-600 text-[40px] font-normal font-['Julius Sans One']">นักเเสดงหลัก</div>
    <div class="Image18 w-[296px] h-[434px] left-[95px] top-[1773px] absolute"></div>
    <img class="Image19 w-[157px] h-[185px] left-[95px] top-[1656px] absolute rounded-[251.50px]" src="https://via.placeholder.com/157x185" />
    <img class="Image20 w-[157px] h-[185px] left-[98px] top-[1878px] absolute rounded-[251.50px]" src="https://via.placeholder.com/157x185" />
    <img class="Image21 w-[157px] h-[185px] left-[98px] top-[2098px] absolute rounded-[251.50px]" src="https://via.placeholder.com/157x185" />
    <img class="Image22 w-[157px] h-[185px] left-[775px] top-[1656px] absolute rounded-[251.50px]" src="https://via.placeholder.com/157x185" />
    <img class="Image23 w-[157px] h-[185px] left-[778px] top-[1878px] absolute rounded-[251.50px]" src="https://via.placeholder.com/157x185" />
    <img class="Image24 w-[157px] h-[185px] left-[778px] top-[2098px] absolute rounded-[251.50px]" src="https://via.placeholder.com/157x185" />
    <div class="ChadwickBoseman left-[277px] top-[1708px] absolute text-red-600 text-[32px] font-normal font-['Julius Sans One']">Chadwick Boseman</div>
    <div class="ChadwickBoseman left-[951px] top-[1714px] absolute text-red-600 text-[32px] font-normal font-['Julius Sans One']">Chadwick Boseman</div>
    <div class="ChadwickBoseman left-[951px] top-[1929px] absolute text-red-600 text-[32px] font-normal font-['Julius Sans One']">Chadwick Boseman</div>
    <div class="ChadwickBoseman left-[955px] top-[2133px] absolute text-red-600 text-[32px] font-normal font-['Julius Sans One']">Chadwick Boseman</div>
    <div class="ChadwickBoseman left-[279px] top-[1936px] absolute text-red-600 text-[32px] font-normal font-['Julius Sans One']">Chadwick Boseman</div>
    <div class="ChadwickBoseman left-[279px] top-[2140px] absolute text-red-600 text-[32px] font-normal font-['Julius Sans One']">Chadwick Boseman</div>
    <div class=" left-[279px] top-[1751px] absolute text-white text-xl font-normal font-['Julius Sans One']">แชดวิก โบสแมน</div>
    <div class=" left-[273px] top-[1981px] absolute text-white text-xl font-normal font-['Julius Sans One']">แชดวิก โบสแมน</div>
    <div class=" left-[273px] top-[2187px] absolute text-white text-xl font-normal font-['Julius Sans One']">แชดวิก โบสแมน</div>
    <div class=" left-[951px] top-[1753px] absolute text-white text-xl font-normal font-['Julius Sans One']">แชดวิก โบสแมน</div>
    <div class=" left-[955px] top-[1981px] absolute text-white text-xl font-normal font-['Julius Sans One']">แชดวิก โบสแมน</div>
    <div class=" left-[955px] top-[2182px] absolute text-white text-xl font-normal font-['Julius Sans One']">แชดวิก โบสแมน</div>
    <img class="Image18 w-[1551px] h-[532px] left-[-2554px] top-[-789px] absolute" src="https://via.placeholder.com/1551x532" />
    <div class="FrontEnd left-[-2554px] top-[-912px] absolute text-white text-[64px] font-normal font-['Julius Sans One']">รายละเอียดการทำFront END</div>
    <div class="BlackPanther w-[493px] left-[373px] top-[703px] absolute text-white text-[64px] font-normal font-['Julius Sans One']">Black Panther</div>
    <div class=" w-[305px] h-[57px] left-[88px] top-[1086px] absolute text-red-600 text-[40px] font-normal font-['Julius Sans One']">รูปภาพประกอบ</div>
    <div class="CaptainAmericaCivilWarTChallaWakandaBlackPantherTChakaErikKillmongerMichaelBJordanWakanda w-[635px] h-64 left-[378px] top-[787px] absolute text-white text-base font-normal font-['supermarket'] leading-[30px] tracking-[3.20px]">"Captain America: Civil War" โดย T'Challa กลับมาที่ Wakanda <br/>เพื่อสวมบทบาทเป็น Black Panther และรักษาตำแหน่งราชา หลังจากที่ราชา T'Chaka พ่อของเขาได้สิ้นพระชนม์ ในขณะที่เขาต้องปกป้องประเทศจากความขัดแย้งภายในและจากภัยคุกคามภายนอก เช่น Erik Killmonger (รับบทโดย Michael B. Jordan) ที่มีเป้าหมายในการโค่นล้มเขาและควบคุม Wakanda</div>
    <div class=" left-[173px] top-[1285px] absolute text-red-600 text-[64px] font-normal font-['Julius Sans One']"><</div>
    <div class=" left-[1308px] top-[1278px] absolute text-red-600 text-[64px] font-normal font-['Julius Sans One']">></div>
    <img class="Image25 w-[338px] h-[259px] left-[585px] top-[1190px] absolute" src="https://files.vogue.co.th/uploads/01black_panther.jpg" />
    <img class="Image26 w-[338px] h-[259px] left-[946px] top-[1190px] absolute" src="https://s.isanook.com/mv/0/ud/15/75753/untitled-1.jpg?ip/crop/w670h402/q80/jpg" />
    <img class="Image27 w-[338px] h-[259px] left-[224px] top-[1190px] absolute" src="https://assets.promediateknologi.id/crop/0x0:0x0/750x500/webp/photo/sinarharapan/2020/08/29/190-chadwick_boseman_black_panther_pikiran_rakyat.jpg" />
    <div class=" left-[600px] top-[2359px] absolute text-pink-500 text-5xl font-normal font-['Julius Sans One']">เรตติ้ง</div>
    <div class="Line4 w-[1175px] h-[0px] left-[129px] top-[2479px] absolute border border-white"></div>
    <div class="Line8 w-[1175px] h-[0px] left-[133px] top-[3080px] absolute border border-white"></div>
    <div class="Line9 w-[1175px] h-[0px] left-[129px] top-[3456px] absolute border border-white"></div>
    <div class="Line6 w-[389px] h-[0px] left-[462px] top-[2479px] absolute origin-top-left rotate-[89.85deg] border border-white"></div>
    <div class="Line7 w-[389px] h-[0px] left-[932px] top-[2479px] absolute origin-top-left rotate-[89.85deg] border border-white"></div>
    <img class="Image28 w-[76px] h-[13px] left-[133px] top-[2535px] absolute" src="https://via.placeholder.com/76x13" />
    <div class=" w-[299px] left-[133px] top-[2567px] absolute text-white text-xl font-normal font-['Julius Sans One']">“มันดีมากเลย”</div>
    <div class="ChonnapatPasaboot w-[253px] left-[179px] top-[2693px] absolute text-white text-[11px] font-normal font-['Julius Sans One']">CHONNAPAT PASABOOT</div>
    <img class="Image29 w-[38px] h-[38px] left-[133px] top-[2680px] absolute rounded-[43px]" src="https://via.placeholder.com/38x38" />
    <img class="Image32 w-[76px] h-[13px] left-[983px] top-[2535px] absolute" src="https://via.placeholder.com/76x13" />
    <div class="ConsecteturAdipiscingElitSedDoEiusmodTemporDuntUlterLaboreEtDoloreMagna w-[310px] left-[983px] top-[2567px] absolute text-white text-xl font-normal font-['Julius Sans One']">"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</div>
    <div class="ChonnapatPasaboot w-[253px] left-[1028px] top-[2696px] absolute text-white text-[11px] font-normal font-['Julius Sans One']">CHONNAPAT PASABOOT</div>
    <img class="Image33 w-[38px] h-[38px] left-[982px] top-[2683px] absolute rounded-[43px]" src="https://via.placeholder.com/38x38" />
    <img class="Image30 w-[76px] h-[13px] left-[512px] top-[2535px] absolute" src="https://via.placeholder.com/76x13" />
    <div class="ConsecteturAdipiscingElitSedDoEiusmodTemporDuntUlterLaboreEtDoloreMagna w-[362px] left-[512px] top-[2567px] absolute text-white text-xl font-normal font-['Julius Sans One']">"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</div>
    <div class="ChonnapatPasaboot w-[253px] left-[558px] top-[2693px] absolute text-white text-[11px] font-normal font-['Julius Sans One']">CHONNAPAT PASABOOT</div>
    <img class="Image31 w-[38px] h-[38px] left-[512px] top-[2680px] absolute rounded-[43px]" src="https://via.placeholder.com/38x38" />
    <div class="Cinemaverse left-[129px] top-[3000px] absolute text-red-600 text-5xl font-normal font-['Julius Sans One']">MOVIE NN REVIEW</div>
    <div class="LoremIpsumIsSimplyDummyTextOfThePrintingAndTypesettingIndustryLoremIpsumHasBeenTheIndustrySStandardDummyTextEverSinceThe1500sWhenAnUnknownPrinterTookAGalleyOfTypeAndScrambledItToMakeATypeSpecimenBookItHasSurvivedNotOnlyFiveCenturiesButAlsoTheLeapIntoElectronicTypesettingRemainingEssentiallyUnchangedItWasPopularisedInThe1960sWithTheReleaseOfLetrasetSheets w-[598px] left-[129px] top-[3127px] absolute text-white text-xl font-normal font-['Julius Sans One']">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets</div>
    <img class="Image34 w-[326px] h-[76px] left-[119px] top-[3353px] absolute" src="https://via.placeholder.com/326x76" />
    <div class="Copyright2024AllRightsReservedThisTemplateIsMadeWithByDevNookyKevin left-[363px] top-[3621px] absolute text-red-600 text-[15px] font-normal font-['Julius Sans One']">Copyright ©2024 All rights reserved | This template is made with  BY DEV NOOKY,KEVIN</div>
    <img class="Image11 w-[193px] h-[289px] left-[132px] top-[690px] absolute" src="https://m.media-amazon.com/images/I/A1PaCX4oXjL.jpg" />
  </div>

{% endblock %}
